@model List<WebApplication1.Models.Student>

@{
    ViewBag.Title = "Demo Grid Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grid</h2>
<h4>Student</h4>
<h5>@TempData["nameData"]</h5>
<hr />
<table>
    <tr>
        <th>StudentName</th>
        <th>Age</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(x => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(y => item.StudentName)
            </td>
            <td>
                @Html.DisplayNameFor(yy => item.Age)
            </td>
            <td>
                @Html.DisplayFor(cc => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                @Html.ActionLink("EditStaticRecord", "EditStaticRecord", new { id = item.StudentId, studentName = item.StudentName }) |
                @Html.ActionLink("Back to List", "Index")
            </td>
        </tr>
    }
</table>


